
$primary: (
  color: #3700B3,
  dark:  black,
  light: rgb(194, 164, 236)
);


$secondary: (
  color: #03DAC6,
  dark:  #018786,
  light: rgb(161, 216, 210)
);

$body-bg: #121212;

@import "material";
@import "material_icons";


.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}


.left-menu {
  background-color: black; 
  width: 300px;
  height: 100%;
  // margin-top: 55px;
  overflow: scroll;
  position: fixed;
  top: 73px;
  left: 0;
}

.card {
  background-color: #212121;
  color: white
}

.card-footer {
  color: lightgray!important;
}

body {
  color: white;
}

#cart_min {
  font-family: 'Aclonica';
  line-height: 10%;
  font-size: 30px; 
  color: #03DAC6;
  margin-right: -5px;
}

.navbar {
  padding-right: 50px;
}

label {
  color: lightgrey;
}

input[type=text] {
  color: #03DAC6!important;
  text-align: center; 
}

@import 'cookies_eu';

.cookies-eu {
  background-color: #212121;
}

.cookies-eu-ok {
  background-color: #3700B3!important;
}